* {
    background-color: black;
    font-family:sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex: 1;
    background-color: #1f2937;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 30px;
}

.header>p>img {
    width: 34px;
    background-color: #1f2937;
    padding-right: 5px;
}

.header>p {
    font-size: 24px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    color: #f9faf8;
    margin: 0;
}

.content-1>img {
    width: 500px;
    margin-left: 50px;
    border-radius: 20px;
}

.content-1>div>button {
    background-color: #3882f6;
    color: #fff;
    padding: 10px 30px 10px 30px;
    border: #3882f6;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
}

.header>div {
    background-color: #1f2937;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 10px;
    font-size: 18px;
    background-color: #1f2937;
}

.content-1 {
    display: flex;
    justify-content: space-between;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color:#1f2937
}

.content-1>div>h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
    background-color: #1f2937;
    margin-bottom: 0;
}

.content-1>div>p {
    font-size: 18px;
    color: #e5e7eb;
    background-color: #1f2937;
    margin-top: 0;
}

.content-1>div {
    max-width: 400px;
    background-color: #1f2937;
}

.content-2 {
    background-color: #fff;
    padding-left: 230px;
    padding-right: 230px;
}

.content-2>div {
    background-color: #fff;
}

.content-2>h2 {
    background-color: #fff;
    text-align: center;
    color: #1f2937;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 30px;
}

.content-2>div>div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.content-2>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding-bottom: 90px;
    padding-top: 30px;
}

.content-2>div>div>img {
    width: 160px;
    border-radius: 20px;
    background-color: #fff;
    align-self: center; 
}

.content-2>div>div>p {
    background-color: #fff;
    text-align:center;
    width: 150px;
    margin-right: 5px;
    padding: ;
}

.content-3 {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding-left: 180px;
    padding-right: 180px;
    align-items: center;
}

.content-3>p {
    background-color: #e5e7eb;
    font-size: 36px;
    width: 830px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    padding-top: 70px;
    margin-bottom:0;
}

.content-3>h4 {
    background-color:#e5e7eb;
    align-self: flex-end;
    font-size: 25px;
    text-align: left;
    width: 500px;
    margin-top: 0;
    padding-bottom: 70px;
}

.content-4 {
    background-color: #fff;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content-4>div {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-4>div>div {
    background-color: #3882f6;
}

.content-4>div>div>h3 {
    background-color: #3882f6;
    color: #f9faf8;
    padding-top: 30px;
    margin-bottom: 0;
    padding-bottom:0;
    font-size: 25px;
}

.content-4>div>div>p {
    background-color: #3882f6;
    color:#f9faf8;
    margin-top: 0;
    padding-bottom: 30px;

}

.content-4>div>div>button{
    background-color: #3882f6;
    align-self: center;
    border-color:#fff;
    border-radius: 10px;
    padding: 8px 35px 8px 35px;
    border-style:solid;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 18px;
}
